body {
    display: flex;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-color: #f5f7fa;
    margin: 0;
    padding: 0;
}

/* Sidebar */
.sidebar {
    width: 250px;
    background: #2f3640;
    color: #f5f6fa;
    display: flex;
    flex-direction: column;
    padding: 15px;
    transition: all 0.3s ease;
}

.sidebar a {
    text-decoration: none;
    color: #f5f6fa;
    margin-bottom: 15px;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.sidebar a i {
    margin-right: 10px;
}

.sidebar a:hover {
    background-color: #576574;
    border-radius: 5px;
    padding: 10px;
}

.main-content {
    flex-grow: 1;
    padding: 30px;
}

/* Tabla de migraciones */
.table-container {
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #34495e;
}

.table th {
    background-color: #2f3640;
    color: #fff;
}

.badge-success {
    background-color: #28a745;
}

.badge-danger {
    background-color: #dc3545;
}

.badge-warning {
    background-color: #ffc107;
}